<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Personel Giriş Formu</h3>
        <div class="clear"></div>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="AdminName" Placeholder="Kullanıcı Adı" required="" />
                <input type="password" class="pasword" name="AdminPassword" Placeholder="Password" required="" />
                <input type="submit" value="Giriş Yap">
            </form>
        </div>
    </div>
</div>
